<div class="panel panel-default">
  <div class="panel-heading">
    <h5><b>Add New Category</b></h5>
  </div>

  <div class="panel-body">
    <%= form_for [:admin, @category] do |form| %>
        <!-- Error checking -->
        <% if @category.errors.any? %>
          <% @category.errors.full_messages.each do |message| %>
            <div class="alert alert-danger"><%= message %></div>
          <% end %>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <%= form.submit 'Add it!', class: 'btn btn-primary' %>
        <%= link_to 'Nevermind', admin_categories_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
